name: my_alt_generator
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^1.1.2
  flutter_secure_storage: ^9.2.2
  google_generative_ai: ^0.4.4
  flutter_markdown: ^0.7.3
  cupertino_icons: ^1.0.8
  sqflite: ^2.3.3+3
  path: ^1.9.0
  image: ^4.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
